{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row myflexhead">
      <h2 class="col mb-2">Active Listings</h2>
      <form class="col" method="POST" action="{% url 'index' %}" >
        {% csrf_token %}
        <div class="col myflexhead" style="display: flex; justify-content: right; align-items: center;">
          {{ filter.thefilter }}
          <input class="my-2 ms-2" id="submit" type="submit" value="Apply Filter">
        </div>
      </form>
    </div>
    <hr>

    {% for item in listings %}
      {% if not item.is_closed %}
      <div class="container text-left mb-3 shadow-sm">

          <div class="row mb-2">
            <div class="col">
            <a href="{% url 'listing' item.id %}"><div id="itemdiv">{{ item.itemname }}</div></a>
            </div>
            {% load humanize %}
            <div style="text-align: right;" class="col">{{ item.date | naturaltime }}</div>
            <hr class="mt-2">
          </div>

          <div style="display: flex" class="mb-3 myflex">
            <div  class="me-5 mb-2" style="display: flex; flex-direction: column;"><img src="{{ item.image }}" style="max-width:100%; height:20vh;"></div>
            <div class="col">
              <div class="col mb-3">{{ item.description }}</div>
              {% load humanize %}
              <div class="col">Price: ${{ item.price | floatformat:2 | intcomma }}</div>
            </div>
          </div>

      </div>
      {% endif %}
    {% empty %}
    <li> No listings available
    {% endfor %}

{% endblock %}
