{% extends "auctions/layout.html" %}

{% block title %}Your Listings{% endblock %}

{% block body %}

<h2 class="mb-4">Your Listings</h2>
    <hr>

    {% for item in item %}
    <div class="container text-left mb-3 shadow-sm">

        <div class="mb-2">
          <a href="{% url 'listing' item.id %}"><div id="itemdiv">{{ item.itemname }}</div></a>
          <hr>
        </div>

        <div style="display: flex" class="mb-3 myflex">
          <div  class="me-5 mb-2" style="display: flex; flex-direction: column;"><img src="{{ item.image }}" style="max-width:100%; height:20vh;"></div>
          <div class="col">
            <div class="col mb-3">{{ item.description }}</div>
            {% load humanize %}
            <div class="col">Price: ${{ item.price | floatformat:2 | intcomma }}</div>
          </div>
        </div>

    </div>

    {% empty %}
    <li>You have not posted any listings yet.</li>
    {% endfor %}

{% endblock %}
